        @import url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css);
        @import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
        
        body, h1 , h2, nav ,ul , li {
            margin:0;
            padding:0;
        } 
        .full{
            width:100%;
        }
        .clearfix::after{
            content:" ";
            display:block;
            clear:both;
        }